{% extends 'base.html' %}
{% block title %} Añadir cliente {% endblock %}
{% block content %}
<form class="form-horizontal" name="" method="POST" action="{% url "add_cliente_view" %}">
	<div class="row-fluid">
		<div class="box span9">
			<div class="box-header well" data-original-title>
				<h2><i class="icon-pencil"></i> Añadir cliente</h2>
			</div>
			<div class="box-content">
				<div class="control-group">
					<label class="control-label" for="id_nombres">Nombres:</label>
					<div class="controls">
						{{ form.nombres }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="id_apellidos">Apellidos:</label>
					<div class="controls">
						{{ form.apellidos }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="id_hospedado_en">Hospedado en:</label>
					<div class="controls">
						{{ form.hospedado_en }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="id_activo">Activo:</label>
					<div class="controls">
						{{ form.activo }}
					</div>
				</div>
			</div>
		</div>
		<div class="box span3">
			<div class="box-header well" data-original-title>
				<h2><i class="icon-wrench"></i> Acciones</h2>
			</div>
			<div class="box-content">
				<p class="center">
					<button class="btn btn-primary" type="submit">Guardar</button>
					<a href="{% url "list_cliente_view" %}" class="btn">Volver a la lista</a>
				</p>
			</div>
		</div>
	</div>
	{% csrf_token %}
</form>
{% endblock %}