{% extends 'base.html' %}
{% block title %} Editar plato {{ plato }} {% endblock %}
{% block content %}
<form class="form-horizontal" name="" method="POST" action="{% url "edit_plato_view" plato.id %}" enctype="multipart/form-data">
	<div class="row-fluid">
		<div class="box span9">
			<div class="box-header well" data-original-title>
				<h2><i class="icon-pencil"></i> Editar plato</h2>
			</div>
			<div class="box-content">
				<div class="control-group">
					<label class="control-label" for="id_nombre">Nombre:</label>
					<div class="controls">
						{{ form.nombre }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="id_tipo">Tipo:</label>
					<div class="controls">
						{{ form.tipo }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="id_precio">Precio:</label>
					<div class="controls">
						<div class="input-prepend">
						<span class="add-on">S/.</span>{{ form.precio }}
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="id_de_venta_en">De venta en:</label>
					<div class="controls">
						{{ form.de_venta_en }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="id_de_venta_en">Foto:</label>
					<div class="controls">
						<img src="/media/{{ form.foto.value }}" alt="{{ form.nombre.value }}">
					</div>
					<div class="controls">
						{{ form.foto }}
					</div>
				</div>
			</div>
		</div>
		<div class="box span3">
			<div class="box-header well" data-original-title>
				<h2><i class="icon-wrench"></i> Acciones</h2>
			</div>
			<div class="box-content">
				<p class="center">
					<button class="btn btn-primary" type="submit">Guardar</button>
					<a href="{% url "list_plato_view" %}" class="btn">Volver a la lista</a>
				</p>
			</div>
		</div>
	</div>
	{% csrf_token %}
</form>
{% endblock %}