{% extends 'base.html' %}
{% block title %} Lista de platos {% endblock %}
{% block content %}
<div class="row-fluid">
	<div class="box span9">
		<div class="box-header well" data-original-title>
			<h2><i class="icon-list"></i> Lista de platos</h2>
		</div>
		<div class="box-content">
			{% if platos %}
			<table class="table table-striped table-bordered bootstrap-datatable datatable">
				<thead>
					<th>Nombre</th>
					<th>Tipo</th>
					<th>Precio S/.</th>
					<th>Acciones</th>
				</thead>
				<tbody>
					{% for plato in platos %}
					<tr>
						<td>{{ plato.nombre }}</td>
						<td>{{ plato.tipo }}</td>
						<td>{{ plato.precio }}</td>
						<td class="center">
							<a class="btn btn-info" href="{% url "edit_plato_view" plato.id %}">
								<i class="icon-edit icon-white"></i>  
								Editar
							</a>
							<a class="btn btn-danger btn-setting" href="#" data-id="{{ plato.id }}">
								<i class="icon-trash icon-white"></i> 
								Borrar
							</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
				<p>Aun no se han creado platos.</p>
			{% endif %}
		</div>
	</div>
	<div class="box span3">
		<div class="box-header well" data-original-title>
			<h2><i class="icon-wrench"></i> Acciones</h2>
		</div>
		<div class="box-content">
			<p class="center">
				<a href="{% url "add_plato_view" %}" class="btn btn-primary">Añadir nuevo plato</a>
			</p>
		</div>
	</div>
</div>
{% endblock %}
{% block modal %}
<div class="modal hide fade" id="myModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>¡Mucho cuidado!</h3>
	</div>
	<div class="modal-body">
		<p>Si continúa se borrará el item seleccionado. ¿Está seguro?</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Cerrar</a>
		<a href="{% url "list_plato_view" %}" data-id="" class="btn btn-primary btn-danger"><i class="icon-trash icon-white"></i> Borrar</a>
	</div>
</div>
{% endblock %}