{% extends 'base.html' %}
{% block title %} Añadir tipo {% endblock %}
{% block content %}
<form class="form-horizontal" name="" method="POST" action="{% url "add_tipo_view" %}">
	<div class="row-fluid">
		<div class="box span9">
			<div class="box-header well" data-original-title>
				<h2><i class="icon-pencil"></i> Añadir tipo</h2>
			</div>
			<div class="box-content">
				<div class="control-group">
					<label class="control-label" for="id_nombre">Nombre:</label>
					<div class="controls">
						{{ form.nombre }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="id_recibo">Tipo de recibo:</label>
					<div class="controls">
						{{ form.recibo }}
					</div>
				</div>
			</div>
		</div>
		<div class="box span3">
			<div class="box-header well" data-original-title>
				<h2><i class="icon-wrench"></i> Acciones</h2>
			</div>
			<div class="box-content">
				<p class="center">
					<button class="btn btn-primary" type="submit">Guardar</button>
					<a href="{% url "list_tipo_view" %}" class="btn">Volver a la lista</a>
				</p>
			</div>
		</div>
	</div>
	{% csrf_token %}
</form>
{% endblock %}