{% extends 'base.html' %}
{% block title %} Añadir usuario {% endblock %}
{% block content %}
<form class="form-horizontal" name="" method="POST" action="{% url "add_user_view" %}">
	<div class="row-fluid">
		<div class="box span9">
			<div class="box-header well" data-original-title>
				<h2><i class="icon-pencil"></i> Añadir usuario</h2>
			</div>
			<div class="box-content">
				<div class="control-group">
					<label class="control-label" for="id_username">Nombre de usuario:</label>
					<div class="controls">
						{{ form.username }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="id_password">Password:</label>
					<div class="controls">
						{{ form.password }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="id_email">E-Mail:</label>
					<div class="controls">
						{{ form.email }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="id_first_name">Nombres:</label>
					<div class="controls">
						{{ form.first_name }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="id_last_name">Apellidos:</label>
					<div class="controls">
						{{ form.last_name }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="id_is_active">Activo:</label>
					<div class="controls">
						{{ form.is_active }}
					</div>
				</div>
			</div>
		</div>
		<div class="box span3">
			<div class="box-header well" data-original-title>
				<h2><i class="icon-wrench"></i> Acciones</h2>
			</div>
			<div class="box-content">
				<p class="center">
					<button class="btn btn-primary" type="submit">Guardar</button>
					<a href="{% url "list_user_view" %}" class="btn">Volver a la lista</a>
				</p>
			</div>
		</div>
	</div>
	{% csrf_token %}
</form>
{% endblock %}