{% extends 'base.html' %}
{% block title %} Lista de usuarios {% endblock %}
{% block content %}
<div class="row-fluid">
	<div class="box span9">
		<div class="box-header well" data-original-title>
			<h2><i class="icon-list"></i> Lista de usuarios</h2>
		</div>
		<div class="box-content">
			{% if users %}
			<table class="table table-striped table-bordered bootstrap-datatable datatable">
				<thead>
					<th>Usuario</th>
					<th>Nombres y Apellidos</th>
					<th>Estado</th>
					<th>Acciones</th>
				</thead>
				<tbody>
					{% for user in users %}
					<tr>
						<td>{{ user.username }}</td>
						<td>{{ user.first_name }} {{ user.last_name }}</td>
						<td>
							{% if user.is_active %}
							<span class="label label-success">Activo</span>
							{% else %}
							<span class="label">Inactivo</span>
							{% endif %}
						</td>
						<td class="center">
							<a class="btn btn-info" href="{% url "edit_user_view" user.id %}">
								<i class="icon-edit icon-white"></i>  
								Editar
							</a>
							{% if user.id != 1 %}
							<a class="btn btn-warning" href="{% url "perm_user_view" user.id %}">
								<i class="icon icon-key icon-white"></i>  
								Permisos
							</a>
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
				<p>Aun no se han creado usuarios.</p>
			{% endif %}
		</div>
	</div>
	<div class="box span3">
		<div class="box-header well" data-original-title>
			<h2><i class="icon-wrench"></i> Acciones</h2>
		</div>
		<div class="box-content">
			<p class="center">
				<a href="{% url "add_user_view" %}" class="btn btn-primary">Añadir un nuevo usuario</a>
			</p>
		</div>
	</div>
</div>
{% endblock %}
{% block modal %}
{% endblock %}