{% extends 'base.html' %}
{% block title %} Stock Productos {% endblock %}
{% block content %}
<div class="row-fluid">
	<div class="box span9">
		<div class="box-header well" data-original-title>
			<h2><i class="icon-list"></i> Stock Productos</h2>
		</div>
		<div class="box-content">
			{% if stock %}
			<table class="table table-striped table-bordered bootstrap-datatable datatable">
				<thead>
					<th>Punto</th>
					<th>Producto</th>
					<th>Saldo</th>
					<th>Acciones</th>
				</thead>
				<tbody>
					{% for stk in stock %}
					<tr>
						<td>{{ stk.punto_destino }}</td>
						<td>{{ stk.producto }}</td>
						<td>{{ stk.saldo }}</td>
						<td style="width: 180px;" class="center">
							<a class="btn btn-info" href="{% url "pedido_stock_producto_view" stk.punto_destino_id stk.producto_id %}">
								<i class="icon-edit icon-white"></i>  
								Pedido
							</a>
							<a class="btn btn-danger" href="{% url "consumo_stock_producto_view" stk.punto_destino_id stk.producto_id %}">
								<i class="icon-edit icon-white"></i>  
								Consumo
							</a>							
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
				<p>No hay productos en stock.</p>
			{% endif %}
		</div>
	</div>
	<div class="box span3">
		<div class="box-header well" data-original-title>
			<h2><i class="icon-wrench"></i> Acciones</h2>
		</div>
		<div class="box-content">
			<p class="center">
				<a href="{% url "add_stock_producto_view" %}" class="btn btn-primary">Añadir stock (productos)</a>
			</p>
		</div>
	</div>
</div>
{% endblock %}
{% block modal %}
<div class="modal hide fade" id="myModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>¡Mucho cuidado!</h3>
	</div>
	<div class="modal-body">
		<p>Si continúa se borrará el item seleccionado. ¿Está seguro?</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Cerrar</a>
		<a href="{% url "list_local_view" %}" data-id="" class="btn btn-primary btn-danger"><i class="icon-trash icon-white"></i> Borrar</a>
	</div>
</div>
{% endblock %}